<nav class="navbar navbar-expand-md navbar-dark bg-primary ">
  <div class="container">   
    <a class="nav-brand" [routerLink]="['/home']"><img src="../../assets/Apero logo.png" alt="Apero" class="logo"></a> 
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/bikes']">Our bikes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']">About us</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/faq']">F.A.Q.</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
    <div *ngIf="!loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        More
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/login']"> <i class="fa fa-lock"></i> Admin</a>
      </div>
    </div>
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome, {{authService.decodedToken.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/register']"> <i class="fa fa-user-plus"></i> Register</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/members']"> <i class="fa fa-users"></i> Edit members</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/edit-bikes']"> <i class="fa fa-bicycle"></i> Edit bikes</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>
  </div>
  
</nav>