img:hover {
    opacity: 0.7;
}

div.card-img-wrapper {
    height: 200px;
    width: 100%;
}

div.card-body {
}

img {
    max-height: 100% !important;
    width: auto;
    display: block;
    margin: auto !important;
}

div.bike-info {
    width: 90% !important;
}